.profile {
  height: 400px;
  width: auto;
  position: relative;
  background-color: #7c94cf;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.profile .avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile h2 {
  text-align: center;
}