.new-tweet textarea {
  border: none;
  border-bottom: solid 5px black;
  background-color: inherit;
  width: 100%;
}

.new-tweet input {
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  background-color: #4056A1;
}

.new-tweet .counter {
  font-family: 'Bungee', cursive;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet .error-message {
  color: #D8000C;
  background-color: #FFD2D2;
  visibility: hidden;
}