article.tweet {
  text-align: left;
  border: solid 5px black;
}

article.tweet header {
}

article.tweet .avatar {
  height: 80px;
  width: 80px;
  margin: 10px;
  vertical-align: middle;
}

article.tweet .avatar img {
  height: 100%;
  width: 100%;
}

article.tweet header .name {
  vertical-align: middle;
}

article.tweet header .username {
  float: right;
  vertical-align: middle;
  font-size: 20px;
  color: #f4f1ec;
}

article.tweet header .username:hover {
  color: red;
}
article.tweet p {
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: solid 3px black;
}

article.tweet footer {
  padding: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
