.tweet-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

article.tweet {
  text-align: left;
  border: solid 5px black;
  margin-top: 10px;
  margin-bottom: 10px;
}

article.tweet:hover {
  box-shadow: 5px 10px grey;
}

article.tweet:hover .username{
  color: purple;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
}

article.tweet .avatar {
  height: 80px;
  width: 80px;
  margin: 10px;
  vertical-align: middle;
}

article.tweet .avatar img {
  height: 100%;
  width: 100%;
}

article.tweet header .name {
  vertical-align: middle;
}

article.tweet header .username {
  vertical-align: middle;
  font-size: 20px;
  color: #f4f1ec;
  margin-top: 25px;
  margin-right: 10px;
}

article.tweet p {
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: solid 3px black;
}

article.tweet footer {
  padding: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
